<div class="search-box">
    <div class="search-center">
        <input type="text" [(ngModel)]="term" name="term" placeholder="Search...">
        <div class="search"></div>
    </div>
</div>
<div class="container">
    <h3 class="text-center mt-5 mb-5 text-uppercase">Lista de Personas</h3>
    <table mdbTable>
        <thead class="grey lighten-1 black-text">
            <tr>
                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let item of allPersonas |filter:term | paginate: { itemsPerPage: 10, currentPage: p }">
                <th scope="row">{{item.nombre}}</th>
                <td>{{item.apellidos}}</td>
                <td>{{item.dni}}</td>
                <td>{{item.codeuniversidad}}</td>
                <td>{{item.direction}}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<!-- https://bootsnipp.com/snippets/featured/circle-button -->
<button (click)="basicModal9.show()" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
    style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
  </button>

<!-- inicio de modal  -->
<div mdbModal #basicModal9="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-l" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal9.hide()">
              <span aria-hidden="true">×</span>
            </button>
                <h4 class="modal-title w-100" id="myModalLabel">
                    Persona Solicitante
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="md-form">
                            <input type="text" [(ngModel)]="newPerona.nombre" id="personnombre" class="form-control" mdbInput />
                            <label for="personnombre">Nombre</label>
                        </div>
                        <div class="md-form">
                            <input type="text" [(ngModel)]="newPerona.dni" id="persondni" class="form-control" mdbInput />
                            <label for="persondni">DNI</label>
                        </div>
                    </div>
                    <div class="col-6">

                        <div class="md-form">
                            <input type="text" [(ngModel)]="newPerona.apellidos" id="personapellido" class="form-control" mdbInput />
                            <label for="personapellido">Apellidos</label>
                        </div>
                        <div class="md-form">
                            <input type="text" [(ngModel)]="newPerona.codeuniversidad" id="personcodigo" class="form-control" mdbInput />
                            <label for="personcodigo">Código</label>
                        </div>
                    </div>
                </div>
                <div class="md-form">
                    <input type="text" [(ngModel)]="newPerona.direction" id="persondirection" class="form-control" mdbInput />
                    <label for="persondirection">Dirección</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal9.hide()" mdbWavesEffect>
              Cancelar
            </button>
                <button type="button" mdbBtn color="primary" (click)="SaveOrUpdatePersona(basicModal9)" class="relative waves-light" mdbWavesEffect>
              Guardar
            </button>
            </div>
        </div>
    </div>
</div>
<!-- fin modal -->