<div class="jumbotron">
    <h1 class="display-4">BIENVENIDOS!</h1>
    <p class="lead">Este es el sistema documentario de emisión de resoluciones</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a mdbBtn color="primary" size="lg" href="#" role="button" mdbWavesEffect>Learn more</a>
  </div>
  