.select {
    display: grid;
    grid-template-columns: 50% 50%;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    th,
    td {
        text-align: center;
    }
    .nombres {
        text-align: left;
    }
    .borrar {
        color: black!important;
    }
    .generar {
        color: blue!important;
    }
}

.solicita {
    border-top-color: black solid 1px;
}

// medal pequeño
.modal-sm {
    overflow-y: initial !important
}

.peque {
    height: 210px;
    overflow-y: auto;
}