<div class="search-box">
    <div class="search-center">
        <input type="text" [(ngModel)]="term" name="term" placeholder="Search...">
        <div class="search"></div>
    </div>
</div>
<div class="container-fluid">
    <h3 class="text-center mt-5 mb-5">DOCUMENTOS DE ORIGEN</h3>
    <table mdbTable>
        <thead class="grey lighten-1 black-text">
            <tr>
                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                <th>Borrar</th>
                <th>Boton</th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let item of documentos |filter:term | paginate: { itemsPerPage: 10, currentPage: p }">
                <th (dblclick)="editarOrigen(item, basicModal3)" scope="row">{{item.codedocorigen}}</th>
                <td (dblclick)="editarOrigen(item, basicModal3)">{{item.description}}</td>
                <td (dblclick)="editarOrigen(item, basicModal3)">{{item.fechapresen}}</td>
                <td (dblclick)="editarOrigen(item, basicModal3)" class="nombres">{{item.idpersona.nombre}}, {{item.idpersona.apellidos}}</td>
                <td (dblclick)="editarOrigen(item, basicModal3)">{{item.idpersona.dni}}</td>
                <td (dblclick)="editarOrigen(item, basicModal3)">{{item.idpersona.codeuniversidad}}</td>
                <td (dblclick)="editarOrigen(item, basicModal3)">{{item.idpersona.direction}}</td>
                <td class="borrar" (click)="eliminar(item)"><i class="fas fa-trash"></i></td>
                <td (click)="GenerarResolDecanal(item,basicModal8)" class="generar"><i class="fas fa-file"></i></td>
                <!-- <td><button type="button" mdbBtn color="primary" (click)="GenerarResolDecanal(item.code,basicModal8)" mdbWavesEffect>Generar</button></td> -->
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>




<!-- <div class="container">
    <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal3.show()" mdbWavesEffect>
    Derivados
  </button>
</div> -->
<!-- https://bootsnipp.com/snippets/featured/circle-button -->
<button (click)="nuevoDocOrigen(basicModal3)" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
    style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
  </button>

<!-- inicio de modal  -->
<div mdbModal #basicModal8="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal8.hide()">
              <span aria-hidden="true">×</span>
            </button>
                <h4 class="modal-title w-100" id="myModalLabel">
                    Seleccionar tipo
                </h4>
            </div>
            <div class="modal-body peque">
                <button type="button" (click)="EscogerTipo(basicModal7,basicModal8,'1')" mdbBtn color="primary" mdbWavesEffect>Resolucion decanal</button>
                <hr>
                <br>
                <button type="button" (click)="EscogerTipo(basicModal7,basicModal8,'2')" mdbBtn color="primary" mdbWavesEffect>Consejo de Facultad</button>


            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal8.hide()" mdbWavesEffect>
              Cancelar
            </button>
                <!-- <button type="button" mdbBtn color="primary" (click)="SaveOrUpdateOrigen(basicModal3)" class="relative waves-light" mdbWavesEffect>
              Guardar
            </button> -->
            </div>
        </div>
    </div>
</div>
<!-- fin modal -->



<!-- inicio de modal  -->
<div mdbModal #basicModal3="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal3.hide()">
          <span aria-hidden="true">×</span>
        </button>
                <h4 class="modal-title w-100 text-center" id="myModalLabel">
                    {{titulo1}} DOCUMENTO DE ORIGEN
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="md-form">
                            <input type="text" [(ngModel)]="newOrigen.codedocorigen" id="codigodoc" class="form-control" mdbInput />
                            <label for="codigodoc">Codigo de documento origen</label>
                        </div>
                        <div class="md-form">
                            <textarea type="text" [(ngModel)]="newOrigen.description" id="descripcionorigen" class="md-textarea form-control" mdbInput></textarea>
                            <label for="descripcionorigen">Descripción</label>
                        </div>
                        <div>
                            <label for="salidadate">Fecha de generación</label>
                            <input type="date" [(ngModel)]="newOrigen.fechapresen" id="salidadate" class="form-control" />
                        </div>
                    </div>
                    <div class="col-6">
                        <p class="mt-3 text-center">Datos del solicitante</p>
                        <div class="row">
                            <div class="col-6">
                                <div class="md-form">
                                    <input type="number" id="searchfordni" [(ngModel)]="dnibuscar" class="form-control" mdbInput />
                                    <label for="searchfordni">buscar por DNI</label>
                                </div>
                            </div>
                            <div class="col-6"><button type="button" (click)="BuscarporDNI()" class="mt-3" mdbBtn color="primary" mdbWavesEffect> <i class="fas fa-search" aria-hidden="true"></i> </button></div>
                        </div>
                        <div class="md-form">
                            <input type="text" [(ngModel)]="pruebaPer.nombre"  id="nameorigen" class="form-control" mdbInput />
                            <label for="nameorigen">Nombre</label>
                        </div>
                        <div class="md-form">
                            <input type="text" [(ngModel)]="pruebaPer.apellidos" id="apellidosorigen" class="form-control" mdbInput />
                            <label for="apellidosorigen">Apellidos</label>
                        </div>
                        <div class="md-form">
                            <input type="text"  [(ngModel)]="pruebaPer.dni" id="dniorigen" class="form-control" mdbInput />
                            <label for="dniorigen">DNI</label>
                        </div>
                        <div class="md-form">
                            <input type="text"  [(ngModel)]="pruebaPer.codeuniversidad" id="univercodeorigen" class="form-control" mdbInput />
                            <label for="univercodeorigen">Codigo universitario</label>
                        </div>
                        <div class="md-form">
                            <input type="text"  [(ngModel)]="pruebaPer.direction" id="directionorigen" class="form-control" mdbInput />
                            <label for="directionorigen">Dirección</label>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal3.hide()" mdbWavesEffect>
          Cancelar
        </button>
                <button type="button" mdbBtn color="primary" (click)="SaveOrUpdateOrigen(basicModal3)" class="relative waves-light" mdbWavesEffect>
          Guardar
        </button>
            </div>
        </div>
    </div>
</div>
<!-- fin modal -->


<!-- inicio de modal  -->
<div mdbModal #basicModal7="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal7.hide()">
              <span aria-hidden="true">×</span>
            </button>
                <h4 class="modal-title w-100" id="myModalLabel">
                    GENERAR DOCUMENTO {{tipedocumento | uppercase}}
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <div class="md-form">
                            <input type="text" [(ngModel)]="codigomuestra" id="univercodeorigendos" class="form-control" mdbInput />
                            <label for="univercodeorigendos">Codigo Documento origen</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="md-form">
                            <input type="text" [(ngModel)]="NewResolition.coderesolution" id="coderesoldecanal" class="form-control" mdbInput />
                            <label for="coderesoldecanal">Codigo {{tipedocumento}}</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div>
                            <label for="salidadate">Fecha emisión</label>
                            <input [(ngModel)]="NewResolition.fechacreation" type="date" id="salidadate" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="md-form">
                    <textarea type="text" [(ngModel)]="NewResolition.visto" id="descripcionorigen" class="md-textarea form-control" mdbInput></textarea>
                    <label for="descripcionorigen">Visto:</label>
                </div>
                <div class="md-form">
                    <textarea type="text"  [(ngModel)]="NewResolition.presentado" id="descripcionorigen" class="md-textarea form-control" mdbInput></textarea>
                    <label for="descripcionorigen">Presentado por</label>
                </div>
                <div class="md-form">
                    <textarea type="text"  [(ngModel)]="NewResolition.considerando" id="descripcionorigen" class="md-textarea form-control" mdbInput></textarea>
                    <label for="descripcionorigen">Considerando</label>
                </div>
                <div class="md-form">
                    <textarea type="text"  [(ngModel)]="NewResolition.resuelve" id="descripcionorigen" class="md-textarea form-control" mdbInput></textarea>
                    <label for="descripcionorigen">Se resuelve</label>
                </div>
                <div class="md-form">
                    <input type="text"  [(ngModel)]="NewResolition.cc" id="concopiay" class="form-control" mdbInput />
                    <label for="concopiay">C.C.</label>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal7.hide()" mdbWavesEffect>
              Cancelar
            </button>
                <button type="button" mdbBtn color="primary" (click)="SaveOrUpdateResolDecanal(basicModal7)" class="relative waves-light" mdbWavesEffect>
              Guardar
            </button>
            </div>
        </div>
    </div>
</div>
<!-- fin modal -->