<div class="search-box">
    <div class="search-center">
        <input type="text" [(ngModel)]="term" name="term" placeholder="Search...">
        <div class="search"></div>
    </div>
</div>
<div class="container">
    <h3 class="text-center mt-5 mb-5 text-uppercase">Lista de pendientes</h3>
    <table mdbTable>
        <thead class="grey lighten-1 black-text">
            <tr>
                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let item of pendientes |filter:term | paginate: { itemsPerPage: 10, currentPage: p }">
                <th (dblclick)="editarPendientes(item)" scope="row">{{item.code}}</th>
                <td (dblclick)="editarPendientes(item)">{{item.tipo}}</td>
                <td (dblclick)="editarPendientes(item)">{{item.fechaPendiente}}</td>
                <td (dblclick)="editarPendientes(item)">{{item.dirigidoA}}</td>
                <td (dblclick)="editarPendientes(item)">{{item.acction}}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>