.a4page {
    width: 250mm; // normalmente es 201mm
    height: 395mm; //normalmente es 295mm
    border: 0.2em solid brown;
    padding: 70px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

strong {
    font-weight: 700;
}

p.solicito {
    margin: 20px 20px 20px 0px;
    text-align: right;
    float: right;
}