<div class="container">
    <h3 class="text-center mt-5">GENERADOR DE RESOLUCION DECANAL</h3>

    <div class="a4page mt-5" id="imprimirGradoBachiller">
        <h4 class="center">RESOLUCION DECANAL Nº 045 – 2019-FIMGC-D</h4>
        <p class="solicito">Ayacucho, 17 de enero del 2019 </p> <br>
        <br>

        <p>
            Visto, la solicitud Nº 287 de fecha 06 de julio 2019, presentado por el Bachiller VICTOR HUGO YARANGA PADRO de la Escuela Profesional de Ingeniería Civil, mediante el cual solicita la aprobación de plan de tesis; y
        </p>
        <p></p> <br>

        <p> CONSIDERANDO:<br>Que, con Memorando Múltiple Nº 187-2019-FIMGC de fecha 14 de julio del 2017 la Facultad de Ingeniería de Minas Geología y Civil deriva el plan de tesis del presidente de la comisión dictaminadora el expediente Nº 287 del Bachiller
            VICTOR HUGO YARANGA PADRO para su dictamen por escrito en concordancia en lo dispuesto en el procedimiento de la aprobación del Plan de tesis de acuerdo a los Artículos 16º al 21º del plan Curricular 2004 de la Escuela Profesional de Ingeniería
            Civil;
        </p>
        <p>
            Que Mediante Dictamen Nº 052-2019-UNSCH7FIMGC/JBP/EL/ALF de fecha 04 de diciembre de 2019 la comisión dictaminadora conformado por el Ing. Jaime L. Bendezu Prado(presidente), Msc. Ing. Adolfo Linares Flores (miembro) y Ing. Edward León Palacios(miembro)
            representantes de la Escuela Profesional de Ingeniería Civil, toman conocimiento del plan de tesos presentado por el recurrente y remiten el dictamen de aprobación de Plan de Tesis Titulado “OBTIMIZACIÓN EN EL DISEÑO DE REDES ALCANTARILLADO
            MEDIENTE PROGRAMACIÓN DINAMICA”, adjunto para ello el ejemplar del referido Plan y el Dictamen correspondiente quedando apto para la ejecución de la tesis;
        </p>
        <p>
            Estando de conformidad con el Artículo 70º, numeral 70.2 de la Ley Universitaria Nº 30220, y el Articulo 289º numera 7º y 14º del estatuto adecuado a la Ley Universitaria de la Universidad Nacional de San Cristóbal de Huamanga. Art. 232º de la Reglamento
            General de la UNSCH y los artículos Nº17, 18º, 19º, 20º y 21º del Plan Curricular 2004 de la escuela profesional de Ingeniería Civil;
        </p>
        <p class="center">El Decano, en uso de las atribuciones que le confiere la Ley;</p>


        <p> RESUELVE: <br>1º APROBAR el Plan de Tesis Titulado “OBTIMIZACIÓN EN EL DISEÑO DE REDES ALCANTARILLADO MEDIENTE PROGRAMACIÓN DINAMICA”, del Bachiller VICTOR HUGO YARANGA PADRO, egresado de la Escuela Profesional de Ingeniería Civil desde la aprobación
            del dictamen del plan de Tesis, a partir del 05 de diciembre del 2017 al 04 de diciembre 2018</p>


        <p>REGISTRESE, COMUNIQUESE Y ARCHIVESE</p>

        <p>Distribución Expediente <br>Bachiller <br>Comisión Dictaminadora (03) <br>Archivo</p>



    </div>
    <!-- https://bootsnipp.com/snippets/featured/circle-button -->
    <button data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
        style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
      </button>
    <div class="row">
        <div class="fuera col-4 mb-5 mt-5">
            <button type="button" (click)="createPDF()" class="btn btn-info" mdbBtn color="primary" mdbWavesEffect>PDF</button>
        </div>
    </div>

</div>