<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Resoluciones</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" [routerLink]="['Presentado']" class="nav-link waves-light" mdbWavesEffect>
                            Documento origen
                        </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light" [routerLink]="['Resol-decanal']" mdbWavesEffect>
                    Decanal
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light" mdbWavesEffect [routerLink]="['Resol-consejo']">
                        Consejo
                    </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light" mdbWavesEffect>
                            Emitidas
                        </a>
            </li>
            <!-- Dropdown -->

            <li class="nav-item" routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light" [routerLink]="['Usuarios']" mdbWavesEffect>
                     Usuarios
                </a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item" routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light" [routerLink]="['Pendientes']" mdbWavesEffect>
                         Pendientes
                    </a>
            </li>


        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->