@media screen and (max-width:640px) {
    li:hover {
        background: rgb(2, 44, 87);
        opacity: 0.9;
        /* Opacidad 60% */
    }
}

@media screen and (max-width:1024px) and (min-width:640px) {
    li:hover {
        background: rgb(2, 13, 71);
        opacity: 0.9;
        /* Opacidad 60% */
    }
}

@media screen and (min-width:1024px) {
    li {
        margin: 0 10px 0 10px;
    }
    li:hover {
        background: rgb(65, 94, 236);
        opacity: 0.9;
        /* Opacidad 60% */
    }
}