<div class="search-box">
    <div class="search-center">
        <input type="text" [(ngModel)]="term" name="term" placeholder="Search...">
        <div class="search"></div>
    </div>
</div>
<div class="container-fluid">
    <h3 class="text-center mt-5">LISTA DE RESOLUCIONES DECANALES</h3>
    <table mdbTable>
        <thead class="grey lighten-1 black-text">
            <tr>
                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                <th>Eliminar</th>
                <th>Boton</th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let item of decanales |filter:term | paginate: { itemsPerPage: 10, currentPage: p }">
                <th scope="row">{{item.code}}</th>
                <td>{{item.fechaemition}}</td>
                <td>{{item.codeOrigen}}</td>
                <td>{{item.visto}}</td>
                <td>{{item.presentado}}</td>
                <td>{{item.considerando}}</td>
                <td>{{item.resuelve}}</td>
                <td>{{item.cc}}</td>
                <td class="borrar" (click)="eliminar(item)"><i class="fas fa-trash"></i></td>
                <td class="borrar" (click)="GenerarPDF(item)"><i class="fas fa-book"></i></td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>